{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/lk.css' %}">
    <link rel="stylesheet" href="{% static "css/background.css" %}">
{% endblock %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block content %}
    {% if player.background %}<canvas id="background"></canvas>{% endif %}
    <div class="content">
    {% include 'includes/header.html' %}
        <div class="container-fluid pt-0">
            <div class="row mb-2">
                <div class="col-6 offset-xl-3 p-0">
                    <a href="{% url 'LK:profile' user.username %}" style="text-decoration: none">
                        <button class="btn btn-outline-danger btn-block" style="border-right: none">
                        Профиль
                        </button>
                    </a>
                </div>
                <div class="col-6 offset-xl-3 p-0">
                    <a href="{% url 'LK:bets' user.username %}" style="text-decoration: none">
                        <button class="btn btn-outline-danger btn-block active" style="border-left: none">
                            Последние ставки
                        </button>
                    </a>
                </div>
            </div>
            {% for log_bet in player.last_bets.all %}
            <div class="row log">
                <div class="col-1">Вы</div>
                <div class="col-1">VS</div>
                <div class="col-5">{{ log_bet.opponent }}</div>
                <div class="col-4 pr-0"><i class="fas fa-coins"></i> {{ log_bet.profit }}</div>
            </div>
            {% endfor %}
        </div>
    {% include 'includes/footer.html' %}
    </div>
{% endblock %}
{% block js %}
    {% if player.background %}<script type="text/javascript" src="{% static "js/background.js" %}"></script>{% endif %}
{% endblock %}