{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/lk.css' %}">
    {% if player.background %}
        <link rel="stylesheet" href="{% static "css/background.css" %}">{% endif %}
{% endblock %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block content %}
    {% if player.background %}
        <canvas id="background"></canvas>{% endif %}
    <div class="content">
        {% include 'includes/header.html' %}
        {# for mobile devices #}
        <div class="container mobile pt-0">
            <div class="row">
                <div class="col-6 p-0">
                    <a href="{% url 'LK:profile' user.username %}" style="text-decoration: none">
                        <button class="btn btn-outline-danger btn-block active" style="border-right: none">
                            Профиль
                        </button>
                    </a>
                </div>
                <div class="col-6 p-0">
                    <a href="{% url 'LK:bets' user.username %}" style="text-decoration: none">
                        <button class="btn btn-outline-danger btn-block" style="border-left: none">
                            Последние ставки
                        </button>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <span class="username">{{ user.username }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 pb-1">
                    <span class="cr-hashtag">#{{ player.hashtag }} | </span>
                    <span class="cr-hashtag">{{ user.email }}</span>
                </div>
            </div>
            <div class="d-flex flex-row denis-pidoras">
                <div class="p-2">
                    <i class="fas fa-dollar-sign dollar"></i>
                </div>
                <div>
                    <span class="profit">Заработок: <i class="fas fa-coins"></i> {{ player.profit }}</span><br>
                    <span class="biggest-win">Максимальный выигрыш: <i
                            class="fas fa-coins"></i> {{ player.max_win }}</span>
                </div>
            </div>
            <div class="d-flex flex-row m-0 sanya-loh">
                <div class="p-2">
                    <i class="fas fa-trophy trophy"></i>
                </div>
                <div>
                    <span class="wins">Победы: {{ player.wins }}</span><br>
                    <span class="winstreak">Лучшая победная серия: {{ player.win_streak }}</span>
                </div>
            </div>
            <div class="my-2">
                <a href="{% url 'LK:toggle_background' %}">{% if player.background %}Отключить {% else %}
                    Включить {% endif %}динамический фон</a>
            </div>
            <div class="row">
                <div class="col-6 pr-1">
                    <a href="{% url 'Registration:change_email' %}">
                        <button class="btn w-100 btn-outline-primary">Сменить почту</button>
                    </a>
                </div>
                <div class="col-6 pl-1">
                    <a href="{% url 'Registration:change_password' %}">
                        <button class="btn w-100 btn-outline-primary">Сменить пароль</button>
                    </a>
                </div>
            </div>
        </div>

        {# for pc and tablets #}
        <div class="container offset-3 pc-tablets pt-0">
            <div class="row">
                <div class="col-4">
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <span class="username">{{ user.username }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 pb-1">
                            <span class="cr-hashtag">#{{ player.hashtag }} | </span>
                            <span class="cr-hashtag">{{ user.email }}</span>
                        </div>
                    </div>
                    <div class="d-flex mb-3 flex-row denis-pidoras">
                        <div class="p-2">
                            <i class="fas fa-dollar-sign dollar"></i>
                        </div>
                        <div>
                            <span class="profit">Заработок: <span class="fas fa-coins"></span> {{ player.profit }}</span><br>
                            <span class="biggest-win">Максимальный выигрыш: <span class="fas fa-coins"></span> {{ player.max_win }}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row m-0 sanya-loh">
                        <div class="p-2">
                            <i class="fas fa-trophy trophy"></i>
                        </div>
                        <div>
                            <span class="wins">Победы: {{ player.wins }}</span><br>
                            <span class="winstreak">Лучшая победная серия: {{ player.win_streak }}</span>
                        </div>
                    </div>
                    <a href="{% url 'Registration:change_email' %}">
                        <button class="btn w-100 btn-outline-primary my-3">Сменить почту</button>
                    </a>
                    <a href="{% url 'Registration:change_password' %}">
                        <button class="btn w-100 btn-outline-primary">Сменить пароль</button>
                    </a>
                    <div class="my-2">
                        <a href="{% url 'LK:toggle_background' %}">{% if player.background %}Отключить {% else %}
                            Включить {% endif %}динамический фон</a>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <div class="row mt-3" style="margin-bottom: 2.1rem">
                        <div class="col-sm-12">
                            <span class="username">Последние ставки</span>
                        </div>
                    </div>
                    <div class="last-bets">
                        {% for log_bet in player.last_bets.all %}
                        <div class="row log">
                            <div class="col-1">Вы</div>
                            <div class="col-1">VS</div>
                            <div class="col-5">{{ log_bet.opponent }}</div>
                            <div class="col-4 pr-0"><i class="fas fa-coins"></i> {{ log_bet.profit }}</div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}
{% block js %}
    {% if player.background %}
        <script type="text/javascript" src="{% static "js/background.js" %}"></script>{% endif %}
{% endblock %}