{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Смена пароля
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock %}
{% block content %}
    <div class="container col-xl-4 col-md-6">
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                    <a href="{% url "Bets:main" %}">
                        <img src="{% static 'img/logo.png' %}" height="64" width="64" class="login-image" alt="CB">
                    </a>
                    <span class="crd-ttl card-title">
                            Смена пароля
                        </span>
                    <div class="errorlist">
                        {% for error in errors %}
                            <i class="fas fa-exclamation-circle"></i> {{ error }}<br>
                        {% endfor %}
                    </div>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <div class="row">
                            <div class="col-12" style="display: flex">
                                <button type="submit" class="btn btn-outline-light col-5">Сменить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}