{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Вход
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock %}
{% block content %}
    <div class="container col-xl-4 col-md-6">
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                        <a href="{% url "Bets:main" %}">
                            <img src="{% static 'img/logo.png' %}" height="64" width="64" alt="CB">
                        </a>
                        <span class="card-title">
                            Вход
                        </span>
                    <div class="errorlist">
                        {% for error in errors %}
                            <i class="fas fa-exclamation-circle"></i> {{ error }}<br>
                        {% endfor %}
                    </div>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Имя пользователя:</label>
                            <input type="text" name="username" maxlength="45" autofocus required
                                   id="id_username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_password">Пароль:</label>
                            <input type="password" name="password" class="form-control" required id="id_password">
                        </div>
                        <div class="row">
                            <div class="col-12" style="display: flex">
                                <button type="submit" class="btn btn-outline-light col-5">Войти</button>
                                <span class="password-reset-link"><a href="{% url 'password_reset' %}">
                                    Забыли пароль?</a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <span class="no-account-link">
                                Ещё нет аккаунта? <a href="{% url "Registration:register" %}">Зарегистрироваться</a>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}