{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}
    Вход
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock %}
{% block content %}
    <div class="container col-xl-4 col-lg-6">
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                        <a title="ClashBet" href="{% url "Bets:main" %}">
                            <img src="{% static 'img/logo.png' %}" height="64" width="64" class="login-image" alt="CB">
                        </a>
                        <span class="crd-ttl card-title">
                            Регистрация
                        </span>
                    <div class="errorlist">
                        {% for error in errors %}
                            <span class="fas fa-exclamation-circle"></span> {{ error }}<br>
                        {% endfor %}
                    </div>
                    <form method="post" novalidate>
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_username">Имя пользователя:</label>
                            {% render_field form.username class="form-control" placeholder='Это имя будет видно всем' %}
                        </div>

                        <div class="form-group">
                            <label for="id_email">Почтовый ящик:</label>
                            {% render_field form.email class="form-control" placeholder='Для восстановления пароля' %}
                        </div>

                        <div class="form-group">
                            <label for="id_hashtag">CR Hashtag:</label>
                            {% render_field form.hashtag class="form-control" placeholder='#XXXXXXXXX' %}
                        </div>

                        <div class="form-group">
                            <label for="id_password1">Пароль:</label>
                            {% render_field form.password1 class="form-control" placeholder='Не менее 8 символов' %}
                        </div>

                        <div class="form-group">
                            <label for="id_password2">Подтверждение пароля:</label>
                            {% render_field form.password2 class="form-control" %}
                        </div>
                        <div class="agreement mb-3">
                            При нажатии на кнопку "Зарегестрироваться" Вы подтверждаете, что ознакомились и принимаете <a
                            title="ToS" href="{% url 'Main:tos' %}">Условия пользования</a>, и что Вам исполнилось 18 лет.
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <input type="submit" class="btn btn-outline-light col-12" value="Зарегистрироваться">
                            </div>
                            <div class="col-xl-6">
                                <span style="line-height: 2.5em">Уже есть аккаунт? <a href="{% url "Registration:login" %}" title="Log in">Войти</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}