{% extends 'base.html' %}
{% block title %}
FAQ
{% endblock %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container faq-content py-3">
    <h3>FAQ</h3>
    <div class="faq-question m-1">Как работают дуэли?</div>
    <div class="p-2">
        Вы создаете ставку с назначенной суммой и ожидаете оппонента. При этом с Вашего баланса будут списаны средства
        в размере назначенной суммы. Затем, при принятии этой ставки другим игроком, Вы и Ваш противник переходите в
        клан, в котором будет проводиться битва. По завершению битвы наша система автоматически определит победителя,
        и передаст ему выигрыш с учетом комиссии. Просим заметить, что задержка между окончанием дуэли и проверкой результатов
        нашей системы может состовлять до 3 минут.

        При принятии чужой ставки с Вашего баланса моментально списываются средства в размере назначенной создателем ставки
        пользователем. Затем Вас перенапрравят в комнату проведения дуэли.

        Размер комиссии составляет 10% от общей суммы ставок.
    </div>
    <div class="faq-question m-1">Могу ли я передавать Coins другим игрокам?</div>
    <div class="p-2">
        К сожалению нет. Данная возможность будет со временем добавлена на сайт.
    </div>
    <div class="faq-question m-1">О чём мне стоит беспокоиться?</div>
    <div class="p-2">
        НЕ используйте незнакомые вам расширения для сайта. Они могут украсть ваши Coins, которые не будут
        возмещены! НЕ вставляйте неизвестные вам скрипты в консоль браузера.
    </div>
    <div class="faq-question m-1">Что-то пошло не так?</div>
    <div class="p-2">
        Вы можете связаться с нашей группой поддержки по эл. почте support@clashbet.net
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}