{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Clash Bet
{% endblock %}
{% block css %}
    {% if player.background %}
    <link rel="stylesheet" href="{% static "css/background.css" %}">{% endif %}
    <link rel="stylesheet" href="{% static "css/bets.css" %}">
{% endblock %}
{% block content %}
    {% if player.background %}
        <canvas id="background"></canvas>{% endif %}
    <div class="content">
        {% include "includes/header.html" %}

        {# for mobile devices #}
        <div class="container mobile pt-0 px-0">
            <div class="biggest-win top-to-bottom-border m-0">
                <div class="col-12 p-0 text-center">
                    МАКСИМАЛЬНЫЙ ВЫИГРЫШ СЕГОДНЯ
                </div>
                {% if biggest_win.is_none %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 text-right">
                                &ndash;&ndash;&ndash;&ndash;&ndash;
                            </div>
                            <div class="col-6">
                                <span class="fas fa-coins"></span> 0.0
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 text-right">
                                {{ biggest_win.player.user.username }}
                            </div>
                            <div class="col-6">
                                <span class="fas fa-coins"></span> {{ biggest_win.win_amount }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 p-0">
                <button id="make-a-bet" class="btn make-a-bet btn-block" data-toggle="modal" data-target="#makeBet">
                    СДЕЛАТЬ СТАВКУ
                </button>
            </div>
            <div id="bets">
                {% for bet in bets %}
                    {% if bet.ongoing %}
                        <div class="row bet js-bet-mobile mt-4 mx-2" data-bet-id="{{ bet.id }}">
                            <div class="col-12">
                                <div class="row px-2 h-50">
                                    <div class="col-6 pt-2 px-0">
                                        {{ bet.player.user.username }}
                                    </div>
                                    <div class="col-6 pt-2 px-0 text-right">
                                        {{ bet.opponent.user.username }}
                                    </div>
                                </div>
                                <div class="row cost px-2 h-50">
                                    <div class="col-6 p-0">{{ bet.cost }}<span class="fas fa-coins ml-1"></span></div>
                                    <div class="col-6 p-0 text-right">{{ bet.cost }}<span
                                            class="fas fa-coins ml-1"></span></div>
                                </div>
                            </div>
                            <div class="row col-12 p-0 text-center" style="position: absolute">
                                <img src="{% static 'img/swords.gif' %}" height="64" width="64" alt="">
                            </div>
                        </div>
                    {% else %}
                        <div id="{{ bet.id }}" class="row bet js-bet-mobile mt-4 mx-2"
                             data-toggle="modal" data-target="#sync">
                            <div class="col-6">
                                <div class="row pl-2 pt-2 h-50">
                                    {{ bet.player.user.username }}
                                </div>
                                <div class="row cost pl-2 h-50">
                                    {{ bet.cost }}<span class="fas fa-coins ml-1"></span>
                                </div>
                            </div>
                            <div class="timer">
                                <div id="timer-{{ bet.id }}" class="my-0 text-center">&ndash;&ndash;:&ndash;&ndash;</div>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <div class="clicker row mx-2" onclick="set_bet_acception({{ bet.id }})"
                                data-toggle="modal" data-target="#sync"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {# for pc and tablets #}

        <div class="container pc-tablets pt-0 px-0">
            <div class="row">
                <div class="col-6 p-0">
                    <button id="make-a-bet" class="btn make-a-bet btn-block" data-toggle="modal" data-target="#makeBet">
                        СДЕЛАТЬ СТАВКУ
                    </button>
                </div>
                <div class="col-6">
                    <div class="biggest-win top-to-bottom-border m-0">
                        <div class="col-12 p-0 text-center">
                            МАКСИМАЛЬНЫЙ ВЫИГРЫШ СЕГОДНЯ
                        </div>
                        {% if biggest_win.is_none %}
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 text-right">
                                        &ndash;&ndash;&ndash;&ndash;&ndash;
                                    </div>
                                    <div class="col-6">
                                        <span class="fas fa-coins"></span> 0.0
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 text-right">
                                        {{ biggest_win.player.user.username }}
                                    </div>
                                    <div class="col-6">
                                        <span class="fas fa-coins"></span> {{ biggest_win.win_amount }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="bets-pc">
                {% for bet in bets %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                    <div class="col-6">
                        {% if bet.ongoing %}
                            <div class="row bet js-bet-pc mt-4 mx-2" data-bet-id="{{ bet.id }}"
                                 data-ongoing="true">
                                <div class="col-12">
                                    <div class="row px-2 h-50">
                                        <div class="col-6 pt-2 px-0">
                                            {{ bet.player.user.username }}
                                        </div>
                                        <div class="col-6 pt-2 px-0 text-right">
                                            {{ bet.opponent.user.username }}
                                        </div>
                                    </div>
                                    <div class="row cost px-2 h-50">
                                        <div class="col-6 p-0">{{ bet.cost }}<span class="fas fa-coins ml-1"></span>
                                        </div>
                                        <div class="col-6 p-0 text-right">{{ bet.cost }}<span
                                                class="fas fa-coins ml-1"></span></div>
                                    </div>
                                </div>
                                <div class="col-12 p-0 text-center" style="position: absolute">
                                    <img src="{% static 'img/swords.gif' %}" height="64" width="64" alt="">
                                </div>
                            </div>
                        {% else %}
                            <div id="{{ bet.id }}" class="row bet js-bet-pc mt-4 mx-2">
                                <div class="col-6">
                                    <div class="row pl-2 pt-2 h-50">
                                        {{ bet.player.user.username }}
                                    </div>
                                    <div class="row cost pl-2 h-50">
                                        {{ bet.cost }}<span class="fas fa-coins ml-1"></span>
                                    </div>
                                </div>
                                <div class="timer">
                                    <div id="timer-{{ bet.id }}" class="my-0 text-center">&ndash;&ndash;:&ndash;&ndash;</div>
                                </div>
                                <div class="col-3">
                                </div>
                            </div>
                            <div class="clicker row mx-2" onclick="set_bet_acception({{ bet.id }})"
                                data-toggle="modal" data-target="#sync"></div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-6">
                        {% if bet.ongoing %}
                            <div class="row bet js-bet-pc mt-4 mx-2" data-bet-id="{{ bet.id }}">
                                <div class="col-12">
                                    <div class="row px-2 h-50">
                                        <div class="col-6 pt-2 px-0">
                                            {{ bet.player.user.username }}
                                        </div>
                                        <div class="col-6 pt-2 px-0 text-right">
                                            {{ bet.opponent.user.username }}
                                        </div>
                                    </div>
                                    <div class="row cost px-2 h-50">
                                        <div class="col-6 p-0">{{ bet.cost }}<span class="fas fa-coins ml-1"></span>
                                        </div>
                                        <div class="col-6 p-0 text-right">{{ bet.cost }}<span
                                                class="fas fa-coins ml-1"></span></div>
                                    </div>
                                </div>
                                <div class="col-12 p-0 text-center" style="position: absolute">
                                    <img src="{% static 'img/swords.gif' %}" height="64" width="64" alt="">
                                </div>
                            </div>
                        {% else %}
                            <div id="{{ bet.id }}" class="row bet js-bet-pc mt-4 mx-2">
                                <div class="col-6">
                                    <div class="row pl-2 pt-2 h-50">
                                        {{ bet.player.user.username }}
                                    </div>
                                    <div class="row cost pl-2 h-50">
                                        {{ bet.cost }}<span class="fas fa-coins ml-1"></span>
                                    </div>
                                </div>
                                <div class="timer">
                                    <div id="timer-{{ bet.id }}" class="my-0 text-center">&ndash;&ndash;:&ndash;&ndash;</div>
                                </div>
                                <div class="col-3">
                                </div>
                            </div>
                            <div class="clicker row mx-2" onclick="set_bet_acception({{ bet.id }})"
                            data-toggle="modal" data-target="#sync"></div>
                        {% endif %}
                    </div>
                {% endif %}
                {#                {% if forloop.counter|divisibleby:2 %}</div>{% endif %}#}</div>
                {% endfor %}
            </div>
        </div>

        <div class="modal fade" id="makeBet" tabindex="-1" role="dialog"
             aria-labelledby="makeBetTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="post" action="{% url 'Bets:make-a-bet' %}" novalidate>
                        <div class="modal-header">
                            <h5 class="modal-title" id="makeBetLongTitle">Сделать ставку</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span style="color: #00b2ff" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_sum">Сумма: </label>
                                <input type="text" name="sum" class="form-control" required
                                       id="id_sum" value="10.00"><span class="fas fa-coins"></span><br>
                                <button type="button" id="10" class="btn operator operator+">+10</button>
                                <button type="button" id="100" class="btn operator operator+">+100</button>
                                <button type="button" id="1000" class="btn operator operator+">+1000</button>
                                <br>
                                <button type="button" id="-10" class="btn operator operator-">-10</button>
                                <button type="button" id="-100" class="btn operator operator-">-100</button>
                                <button type="button" id="-1000" class="btn operator operator-">-1000</button>
                            </div>
                            <div class="form-group">
                                <label for="id_time">Время:</label>
                                <span id="time"></span>
                                <input min="5" max="30" name="time" type="range"
                                       class="form-control" id="id_time">
                            </div>
                            <span class="potential-profit">
                                Потенциальный выигрыш: <span id="potential-profit"></span>
                            </span>
                        </div>
                        <div class="modal-footer pt-0">
                            <button type="submit" id="create_bet" class="btn btn-outline-primary make-a-bet-confirm">
                                Подтвердить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sync" tabindex="-1" role="dialog"
             aria-labelledby="syncTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered sync" role="document">
                <div class="modal-content p-3">
                    <div class="modal-header p-0 text-center">
                        <h5 class="modal-title w-100" id="syncLongTitle">
                            Вы уверены, что хотите принять эту ставку?
                        </h5>
                    </div>
                    <button onclick="start_sync(this)" class="btn btn-outline-primary make-a-bet-confirm mt-3">Принять
                    </button>
                </div>
            </div>
        </div>
        <div id="connection" class="connection m-2"></div>
        <div id="info"
             data-no-comission="{% if player.no_comission_bonus_expiration_timestamp > server_time or player.daily_offer_activated %}true{% else %}false{% endif %}">
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/bets.js" %}"></script>
    {% if player.background %}
        <script type="text/javascript" src="{% static "js/background.js" %}"></script>{% endif %}
{% endblock %}