{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Welcome!
{% endblock %}
{% block content %}
{% include "includes/header.html" %}
{% for feature in features %}
    <div class="container features {% if forloop.counter0|divisibleby:2 %}features-blue{% else %}features-red{% endif %}">
        <h4 class="text-center pt-2"><span class="fas {{ feature.icon }}"></span> {{ feature.header }}</h4>
        <p class="text-center">{{ feature.text }}</p>
    </div>
{% endfor %}
<div class="container-fluid text-center p-0">
    <a title="Sign up" href="{% url "Registration:register" %}">
        <button class="btn btn-outline-primary btn-register">
            Зарегистрироваться
        </button>
    </a>
</div>
{% include "includes/footer.html" %}
{% endblock %}