{% extends 'base.html' %}
{% block title %}
FAQ
{% endblock %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container faq-content py-3">
    <h3>Условия пользования</h3>
    <div class="p-2">
        Используя clashbet.net (в последствии называемый ClashBet) Вы подтверждаете, что полностью ознакомились с
        Условиями пользования и принимаете их.<br>
        ClashBet оставляет за собой право по собственному усмотрению изменять Условия пользования и приостанавливать работу сервиса
        в любое время, при этом Вы будете оповещены средствами сервиса или через email.<br>
        ClashBet также имеет право запрещать вам использование некоторых разделов сервиса или всего сервиса в целом без
        каких либо оповещений. Периодическая проверка Условий пользования на изменения лежит на Вашей ответственности.
        Продолжая использовать сервис Вы подтверждаете, что согласны с любыми изменениями Условий пользования. <br>
        Вам должно быть не менее 18 лет для использования ClashBet.
    </div>
    <div class="faq-question m-1">Право собственности</div>
    <div class="p-2">
        Все материалы на этом сайте являются владением ClashBet и Вы не имеете право использовать их в коммерческих целях
        без специального соглашения.
    </div>
    <div class="faq-question m-1">Валюта</div>
    <div class="p-2">
        Мы даем Вам возможность обмена Рублей на нашу виртуальную валюту, "Coins". Coins не являются настоящими деньгами,
        не имеют никакой денежной ценности. Используя такие термины как "покупка" и "продажа" по отношению к Coins,
        мы никак не соотносим их с реальными деньгами, используем их для удобства и никак не хотим показать этим наличие у Coins
        денежной ценности или то, что они являются настоящими деньгами.
    </div>
    <div class="faq-question m-1">Возврат средств</div>
    <div class="p-2">
        Если Вы потеряли Coins в случае какой либо ошибки, Вы можете послать нам письмо на почту support@clashbet.net,
        и мы проведём возврат средств на Ваш счёт. В письме, укажите, пожалуйста, как можно подробнее, каким образом произошла
        их утрата.
    </div>
    <div class="faq-question m-1">Упраление учётными записями</div>
    <div class="p-2">
        ClashBet имеет право удалить любой аккаунт с сайта по собственному усмотрению без каких либо причин.
    </div>
    <div class="faq-question m-1">Возмещение убытков</div>
    <div class="p-2">
        ClashBet не возвращает потраченные средства. Используя сайт Вы подтверждаете, что играете только на свой страх и риск.
    </div>
    </div>
{% include 'includes/footer.html' %}
{% endblock %}