.login-form {
    color: white;
    margin-bottom: 2em;
    margin-top: 2em;
}

@media (min-width: 992px) {
    .login-form {
        color: white;
        margin-top: 40%;
    }
}

.form-group {
    margin-top: 1em;
}

.card {
    border: 2px solid #00b2ff;
    border-radius: 1em;
    background-color: black !important;
}

.password-reset-link {
    margin-left: 5%;
    padding-top: 0.4em;
}

.no-account-link {
    font-size: 80%;
}

@media (min-width: 992px) {
    .no-account-link {
        font-size: 100%;
    }
}


.errorlist {
    color: #ff3c3a;
}

.login-form a {
    color: #00b2ff;
}

.btn-outline-light {
    margin-bottom: 1em;
}

.card-title {
    font-size: x-large;
    margin-left: 5%;
    margin-bottom: 50px;
}

input::-webkit-input-placeholder {
    font-size: 12px;
    vertical-align: central;
}

#id_files {
    background-color: black;
    border: none;
}
