.make-a-bet {
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    font-size: large;
    width: 90%;
    background-color: transparent;
    border-color: #00b2ff !important;
    color: white !important;
}

.make-a-bet:hover {
    border-color: #00b2ff;
    background-color: transparent;
    box-shadow: 0 0 7px #00b2ff;
}

.make-a-bet:focus {
    box-shadow: none;
}

.modal-content {
    background-color: #222222;
    border: #ff4d00 2px solid;
    box-shadow: 0 0 30px #ff4d00;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.modal-header, .modal-footer {
    border: none;
}

.make-a-bet-confirm {
    border-color: #00b2ff;
    color: #00b2ff;
}

.make-a-bet-confirm:not(:disabled):hover {
    background-color: rgba(0, 178, 255, 0.25);
    border-color: white;
}

.make-a-bet-confirm:disabled {
    color: #007bff;
    border-color: #007bff;
}

#id_sum {
    width: 100px;
    display: inline;
    text-align: center;
    background-color: #222222;
    border: none;
    box-shadow: inset 0 0 17px rgba(0, 0, 0, 0.2), 0 0 0, inset 0 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 17px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 0;
    margin-right: 8px;
}

.operator {
    margin: 0.5rem 4px 0;
    padding: 0 12px;
    background-color: #222222;
    font-size: medium;
}

.operator\+ {
    color: #00b2ff;
    border: 1px #00b2ff solid;
}

.operator\+:focus {
    box-shadow: 0 0 3px #00b2ff;
}

.operator- {
    color: #ff4d00;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px #ff4d00 solid;
}

.operator-:focus {
    box-shadow: 0 0 3px #ff4d00;
}

.potential-profit {
    font-size: 90%;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 6px;
    height: 10px;
    border: none;
    padding: 0;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.50, #00b2ff),
            color-stop(0.50, #ff4d00)
    );
    cursor: pointer;
}

input[type='range']::-moz-range-track {
    border: 0 solid #ffffff;
    background-color: transparent;
}

input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
}

input[type='range']:focus {
    box-shadow: none;
}

.bet {
    color: white;
    height: 64px;
    box-shadow: 0 0 4px white;
    font-size: small;
    position: relative;
    z-index: -2;
}

.bet div {
    height: 64px;
}

.timer {
    position: relative;
    color: #222222;
    font-size: 14px;
    width: 40px;
    height: 64px;
    line-height: 64px;
    font-weight: bold;
    background-color: transparent;
}

.timer:before {
    position: absolute;
    clip-path: polygon(
            30% 0%, 100% 0%, 70% 100%, 0% 100%
    );
    top: 0;
    left: -30px;
    content: "";
    display: block;
    height: 100%;
    border-right: 100px solid rgba(255, 255, 255, .5);
    z-index: -1;
}

.cost {
    font-size: medium;
}

.sync {
    padding: 20px;
}

.biggest-win {
    font-size: small;
    color: white;
    background-color: black;
    border-radius: 0 0 50px 50px;
    border-right: none;
    padding-top: 9px;
    padding-bottom: 8px;
}

.top-to-bottom-border {
    border-top: none;
    border-bottom: 1px #ff4d00 solid;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#ff4d00));
    background-image: -webkit-linear-gradient(#000000, #ff4d00);
    background-image: -moz-linear-gradient(black, #ff4d00),
    -moz-linear-gradient(black, #ff4d00);
    background-image: -o-linear-gradient(black, #ff4d00),
    -o-linear-gradient(black, #ff4d00);
    background-image: linear-gradient(black, #ff4d00),
    linear-gradient(black, #ff4d00);
    -moz-background-size: 1px 100%;
    background-size: 1px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.mobile {
    display: none;
}

.pc-tablets {
    display: block;
}

@media (max-width: 480px) {
    .mobile {
        display: block;
    }

    .pc-tablets {
        display: none;
    }
}

.clicker {
    position: relative;
    height: 10px;
}

.clicker:before {
    content: '';
    top: -64px;
    height: 64px;
    width: 100%;
    position: absolute;
    transition: 0.5s;
}

.clicker:hover:before {
    cursor: pointer;
    box-shadow: 0 0 12px white;
    transition: 0.3s;
}