.card {
    background-color: transparent;
    color: white;
    border: 2px white solid;
    box-shadow: 0 0 5px white;
    border-radius: 20px;
    margin-top: 40%;
}

.players {
    font-weight: bolder;
}

.vs {
    font-family: Circle55, serif;
    font-weight: bolder;
    font-size: 1.7em;
}

#V {
    color: #00b2ff;
}

#S {
    color: #ff4d00;
}

.duel-info {
    line-height: normal;
    color: #9fcdff;
    font-size: small;
}

label {
    padding: 4px 6px 4px 6px;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

label[for='id_win'] {
    border: 1px solid white;
    border-radius: 6px;
    width: 115px
}

label[for='id_lose'] {
    border: 1px solid white;
    border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

label[for='id_draw'] {
    border: 1px solid white; border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

input {
    display: none;
}

input:checked + label {
    background-color: rgba(255, 255, 255, 0.15);
}

#send-result {
    height: 34px;
    margin-left: 13px;
    color: #00b2ff;
    border: 1px solid #00b2ff;
    background-color: transparent;
}

@media (max-width: 480px) {
    #send-result {
        margin-left: 80%;
    }
}