.username {
    font-size: xx-large;
    color: white;
}

.cr-hashtag {
    font-size: small;
    color: #818182;
}

.biggest-win, .profit {
    font-size: medium;
    color: #41BF7C;
}

.wins, .winstreak {
    font-size: medium;
    color: gold;
}

.dollar {
    color: #41BF7C;
    font-size: 30px;
    padding-right: 0.1em;
}

.trophy {
    color: gold;
    font-size: 30px;
    padding-right: 0.1em;
}

.denis-pidoras {
    border: #2f7949 2px solid;
    border-radius: 10px;
    padding: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.sanya-loh {
    border: #b2831c 2px solid;
    border-radius: 10px;
    padding: 0.4em;
}

.btn-outline-primary {
    color: white;
    border-color: #00b2ff;
    border-radius: 10px;
    font-size: medium;
}

.btn-outline-primary:hover {
    border-color: #00b2ff;
    background-color: transparent;
}

.btn-outline-danger {
    border: none #999999;
    color: white;
    border-radius: 0;
    box-shadow: none;
    background-color: black;
}

.btn-outline-danger:hover {
    border-color: #999999;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #999999;
    box-shadow: none;
}

.btn-outline-danger:focus {
    box-shadow: none;
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: none;
}

.log {
    color: white;
}

.last-bets {
    height: 590px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.3);
}

.mobile {
    display: none;
}

.pc-tablets {
    display: block;
}

@media (max-width: 480px) {
    .mobile {
        display: block;
    }

    .pc-tablets {
        display: none;
    }
}