@font-face {
    font-family: Circle55; /* Гарнитура шрифта */
    src: url(../fonts/Circle55.otf); /* Путь к файлу со шрифтом */
}

body {
    position: relative;
    background-color: #222222;
    min-height: 100vh;
}

a {
    color: #00b2ff;
}

a:hover {
    color: #00b2ff;
}

.navbar-dark {
    background-color: #000000;
}

.oops {
    border: none;
    cursor: pointer;
    font-size: medium;
    line-height: 2em;
}

#navbar-toggler {
    font-size: small;
}

#user-balance {
    font-size: small;
    line-height: 1.2em;
    cursor: default;
    color: white;
    height: 100%;
    vertical-align: center;
    display: block;
    padding: .5rem 1rem;
}

.features {
    width: 65%;
    font-size: larger;
    color: white;
}

.btn-register {
    border-radius: 30px;
    font-size: x-large;
    margin-top: 0.8em;
    width: 65%;
    margin-left: 0;
    margin-right: 0;
    border-color: #00b2ff !important;
    color: white !important;
}

@media (max-width: 480px) {
    #user-balance {
        display: none;
    }

    .oops {
        line-height: 1.2em;
    }

    .features, .btn-register {
        width: 100%;
    }
}

.features-blue {
    border: rgb(0, 178, 255) solid 3px;
    border-radius: 30px;
    margin-top: 0.8em;
}

.features-red {
    border: rgb(255, 77, 0) solid 3px;
    border-radius: 30px;
    margin-top: 0.8em;
}

.features h2{
    padding-top: 0.8em;
}

.btn-register:hover {
    border-color: #00b2ff !important;
    background-color: #00b2ff !important;
}

.page-footer {
    width: 100%;
    color: #444444;
    position: absolute;
    bottom: 0;
    background-color: black;
}

.page-footer a {
    color: #00b2ff;
}

.pasha-pidr {
    font-size: small;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    background-color: black;
    color: white;
    padding-right: 0;
}

.dropdown-item:hover {
    background-color: #222222;
    color: white;
}

.notifications {
    background-color: #1c7430;
    color: white;
    padding: 10px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.faq-content {
    color: white;
}

.faq-question {
    color: #00b2ff;
    font-size: large;
    font-weight: bold;
}

.agreement {
    font-size: small;
    color: #6c757d;
    line-height: 1.2em;
}

.mt-8 {
    margin-top: 4.5rem !important;
}


.alert-box {
    width: 100vw;
    position: fixed;
    display: table-cell;
    vertical-align: bottom;
    z-index: 1030;
    max-width: 85vw;
}

.error {
    color: #ffb1b6;
    background-color: rgb(88, 0, 0);
    border: 2px #ff434b solid;
    border-radius: 10px;
}

.info {
    color: #9ad9ff;
    background-color: #1e2f3d;
    border: 2px #3189b0 solid;
    border-radius: 10px;
}

.success {
    color: #9bffbb;
    background-color: #273c2e;
    border: 2px #2fa44a solid;
    border-radius: 10px;
}

.notification-close {
    background-color: transparent;
    border: none;
    color: inherit;
}

.connection {
    color: grey;
    font-size: 0.9em;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1030;
}