.coupons {
    width: 100%;
}

#timer, .description, .status {
    font-size: x-large;
}

.container {
    width: 50%;
}

@media (max-width: 480px) {
    #timer, .description, .status {
        font-size: medium;
    }
    .container {
        width: 100%;
    }
}

.description {
    color: white;
}

.accept-offer {
    color: white;
    border: #00b2ff 1px solid;
    background-color: transparent;
}

h2 {
    color: #00b2ff;
}

.status-disabled {
    color: #ff6466;
}

.status-enabled {
    color: #82ff7b;
}

#timer {
    color: white;
}

.btn-outline-danger {
    border: none #999999;
    color: white;
    border-radius: 0;
    box-shadow: none;
    background-color: black;
}

.btn-outline-danger:hover {
    border-color: #999999;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #999999;
    box-shadow: none;
}

.btn-outline-danger:focus {
    box-shadow: none;
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: none;
}

.coupon {
    color: #1b1e21;
    margin: 2.5rem 1.5rem 0 1.5rem;
    min-width: 250px;
    font-size: x-large;
    padding: 3rem;
    line-height: 2em;
    border-top-right-radius: 20px;
    text-align: center;
    display: inline-block;
}

.expert {
    background: rgb(245,255,88);
    background: linear-gradient(135deg, rgba(245,255,88,1) 0%, rgba(161,255,94,1) 12%, rgba(180,222,131,1) 31%, rgba(245,114,255,1) 64%);
    box-shadow: 0 0 24px #F5FF58;

}

.expert-text {
    background-image: linear-gradient(to right, rgba(245,255,88,1) 0%, rgba(161,255,94,1) 12%, rgba(180,222,131,1) 31%, rgba(245,114,255,1) 64%);
    color: transparent;
    background-image: -webkit-linear-gradient(right, rgba(245,255,88,1) 0%, rgba(161,255,94,1) 12%, rgba(180,222,131,1) 31%, rgba(245,114,255,1) 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.expert-text:hover {
    text-decoration: underline #F5FF58;
}

.buy {
    margin-top: 20px;
    background-color: #1b1e21;
    border-top-right-radius: 10px;
}