.login-form {
    color: white;
    margin-bottom: 2rem;
    margin-top: 40%;
}

@media (min-width: 992px) {
    .login-form {
        color: white;
        margin-top: 30%;
    }
}

.form-group {
    margin-top: 1rem;
}

.card {
    border: 2px solid #00b2ff;
    border-radius: 1rem;
    background-color: black !important;
}

.password-reset-link {
    margin-left: 5%;
    padding-top: 0.4rem;
}

.no-account-link {
    font-size: 80%;
}

@media (min-width: 992px) {
    .no-account-link {
        font-size: 100%;
    }
}


.errorlist {
    color: #ff3c3a;
}

.login-form a {
    color: #00b2ff;
}

.btn-outline-light {
    margin-bottom: 1rem;
}

.card-title {
    font-size: x-large;
    margin-left: 5%;
    margin-bottom: 50px;
}