@keyframes searching {
    0%   {left:40%; top:100%;}
    16%  {left:20%; top:60%;}
    32%  {left:70%; top:140%;}
    48%  {left:30%; top:250%;}
    64%  {left:70%; top:0;}
    80%  {left:0; top:170%;}
    100% {left:40%; top:100%;}
}

.card-title {
    font-size: x-large;
    margin-left: 5%;
    margin-bottom: 50px;
}

.searching {
    position: relative;
    animation-name: searching;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    width: 64px;
}

.anim-container {
    height: 75px;
}

.waiting-text {
    font-size: x-large;
    color: white;
    margin-top: 11rem;
}

.bet-info {
    color: white;
    border: #00b2ff 2px solid;
    border-radius: 10px;
}

.bet-info a {
    color: #00b2ff;
    text-decoration: underline;
}

#timer {
    font-size: larger;
}