{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Ежедневная акция
{% endblock %}
{% block css %}
    {% if player.background %}
        <link rel="stylesheet" href="{% static "css/background.css" %}">{% endif %}
    <link rel="stylesheet" href="{% static 'css/offers.css' %}">
{% endblock %}
{% block content %}
    {% if player.background %}
        <canvas id="background"></canvas>{% endif %}
    <div class="content">
        {% include 'includes/header.html' %}
        <div class="container text-center">
            <h2 class="offer-title mt-3 pb-0 mb-0">Купоны</h2>
            <div class="status {% if time_left is not 0 %}status-enabled{% else %}status-disabled{% endif %} px-1">
                Текущий статус - {% if time_left is 0 %}не {% endif %}активен
            </div>
            {% if time_left is not 0 %}
                <div id="timer" class="px-1" data-time-left="{{ time_left }}">
                    Время до завершения: &ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;
                </div>
            {% endif %}
            <div class="description mt-1 py-2 px-1">
                В этом разделе Вы можете активировать купоны на бонус "без комисии".
                При многократной покупке время действия купонов суммируется.
            </div>
            <div id="coupons" class="d-inline text-center">
                <div class="coupon" style="background-color: #9fcdff; box-shadow: 0 0 24px #9fcdff;">
                    <div>Стартовый</div>
                    <div><span class="fas fa-clock"></span> 3 дня</div>
                    <div><span class="fas fa-coins"></span> 1490</div>
                    <div class="buy"><a style="color: #9fcdff;" title="Buy the coupon" href="{% url 'Offers:buy_coupon' 3 %}">Купить</a></div>
                </div>
                <div class="coupon" style="background-color: #fd7e14; box-shadow: 0 0 24px #fd7e14;">
                    <div>Оптимальный</div>
                    <div><span class="fas fa-clock"></span> 7 дней</div>
                    <div><span class="fas fa-coins"></span> 2790</div>
                    <div class="buy"><a style="color: #fd7e14;" title="Buy the coupon" href="{% url 'Offers:buy_coupon' 7 %}">Купить</a></div>
                </div>
                <div class="coupon expert">
                    <div>Эксперт</div>
                    <div><span class="fas fa-clock"></span> 30 дней</div>
                    <div><span class="fas fa-coins"></span> 9900</div>
                    <div class="buy"><a title="Buy the coupon" href="{% url 'Offers:buy_coupon' 30 %}"><span class="expert-text">Купить</span></a></div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/daily_offer.js" %}"></script>
    {% if player.background %}
        <script type="text/javascript" src="{% static "js/background.js" %}"></script>{% endif %}
{% endblock %}