{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Ежедневная акция
{% endblock %}
{% block css %}
    {% if player.background %}<link rel="stylesheet" href="{% static "css/background.css" %}">{% endif %}
    <link rel="stylesheet" href="{% static 'css/offers.css' %}">
{% endblock %}
{% block content %}
{% if player.background %}<canvas id="background"></canvas>{% endif %}
    <div class="content">
    {% include 'includes/header.html' %}
    <div class="container text-center">
        <h2 class="offer-title mt-3 pb-0 mb-0">Ежедневная акция</h2>
        <div id="timer" class="px-1" data-time-left="{{ offer.time_left }}">
            Время до завершения: &ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;
        </div>
        <div class="status {% if player.daily_offer_activated %}status-enabled{% else %}status-disabled{% endif %} px-1">
            Текущий статус - {% if not player.daily_offer_activated %}не {% endif %}активен
        </div>
        <div class="description mt-1 py-2 px-1">
            Ежедневно всем пользователям ClashBet предоставляется возможность принять участие в акции, призом в которой
            является бонус "без комиссии" на целый день! Участвовать можно неограниченное количество раз.
            Вы можете принять участие, вложив <span class="fas fa-coins"></span> 25, и с 10% вероятностью стать победителем.
            Завершение срока действия бонуса происходит в 00:00. В это же время в случае победы происходит активация следуещего бонуса.<br><br>
            Бонус "без комиссии" говорит сам за себя. Пока он действует (24 часа), Вы получаете полноразмерный выигрыш
            с каждой дуэли - никакой комиссии!
        </div>
        {% if offer_participant is not None %}
            <div class="status status-enabled px-1">Вы участвуете (ваш номер - #{{ offer_participant.number }})</div>
        {% else %}
            <div class="status status-disabled px-1">Вы не участвуете</div>
            <a title="Take part in offer" href="{% url 'Offers:daily_offer_take_part' %}">
                <button type="submit" class="accept-offer mt-1">ПРИНЯТЬ УЧАСТИЕ (<span class="fas fa-coins"></span> 25)</button>
            </a>
        {% endif %}
    </div>
    {% include 'includes/footer.html' %}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/daily_offer.js" %}"></script>
    {% if player.background %}<script type="text/javascript" src="{% static "js/background.js" %}"></script>{% endif %}
{% endblock %}