<footer class="page-footer">
    <div class="footer-content container text-center pt-4 px-3">
        Данный контент не связан с компанией Supercell, не поддерживается, не спонсируется и не был утвержден ею, и
        компания Supercell не несет за него ответственность. Для получения большей информации смотрите <a title="Fan content policy"
            href="https://www.supercell.com/fan-content-policy">Правила Supercell для фанатского контента</a>.
    </div>
    <div class="w-100 footer-content pasha-pidr font-weight-light py-2 text-center">
        <span class="col-3 px-2"><a title="FAQ" href="{% url 'Main:faq' %}">FAQ</a></span>
        <span class="col-4 px-2"><a title="Terms of Service"
                                    href="{% url 'Main:tos' %}">Условия Пользования</a></span>
        <span class="col-2 px-2"><a title="VK" href="">VK</a></span>
        <span class="col-3 px-2"><a title="Instagram" href="">Instagram</a></span>
    </div>
    <div class="footer-content text-center">
        <label>
            © 2018 Copyright:
            <a href="{% url 'Bets:main' %}">clashbet.net</a>
        </label>
    </div>
</footer>

