{% load staticfiles %}
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <a href="{% url 'Bets:main' %}" class="navbar-brand">
        <img src="{% static "img/logo.png" %}" alt="CB" class="mr-1" width="32" height="32">
        <span>ClashBet</span>
    </a>
    {% if user.is_authenticated %}
        <button class="dropdown-toggle navbar-toggler text-left oops" type="button" id="navbar-toggler"
                data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-coins"></span> <span id="balance">{{ player.balance }}</span><br>{{ user.username }}
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a href="{% url 'LK:profile' user.username %}" class="nav-link oops" title="header-dropdown"
                       role="button" aria-haspopup="true"
                       data-toggle="dropdown" aria-expanded="false">
                        <span class="fas fa-user"></span> Профиль
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'Offers:daily_offer' %}" class="nav-link oops" title="header-dropdown"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <span class="fas fa-diagnoses"></span> Ежедневная акция
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'Offers:coupons' %}" class="nav-link oops" title="header-dropdown"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <span class="fas fa-diagnoses"></span> Купоны
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'Bets:main' %}" class="nav-link oops" title="header-dropdown"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <span class="fas fa-plus-circle"></span> Пополнить
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'Bets:main' %}" class="nav-link oops" title="header-dropdown"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <span class="fas fa-arrow-alt-circle-up"></span> Вывести
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'Registration:logout' %}" role="link" class="nav-link oops" title="header-dropdown"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <span class="fas fa-sign-out-alt"></span> Выйти
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <div class="oops" title="header-dropdown" id="user-balance" role="button"
                         data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <span class="fas fa-coins"></span> {{ player.balance }}<br>{{ user.username }}
                    </div>
                </li>
            </ul>
        </div>
    {% else %}
        <span class="text-right w-100" style="position: absolute; padding-right: 2rem">
            <a href="{% url "Registration:register" %}" title="register" class="mr-3">Регистрация</a>
            <a href="{% url "Registration:login" %}" title="login">Вход</a>
        </span>
    {% endif %}
</nav>
<div class="alert-box{% if notifications.count is 0 %} d-none{% endif %} m-2">
    {% for notification in notifications %}
        {% if notification.player.user.username == user.username %}
            <div id="{{ notification.id }}" class="d-flex d-inline-block p-2 mt-2 {{ notification.type }}">
                <button onclick="remove_notification(this)" class="notification-close"
                        data-notification-id="{{ notification.id }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-10">
                    {{ notification.text }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>