{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="black">
    <meta name="msapplication-TileColor" content="black">
    <meta charset="UTF-8">
    <title>
    {% block title %}
    {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "fonts/all.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block css %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
<script src="{% static 'js/jquery-3.3.1/jquery.min.js' %}"></script>
<script src="{% static 'js/popper-1.14.3/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap-4.1.3/bootstrap.min.js' %}"></script>
<script src="{% static 'js/reconnecting-websocket/reconnecting-websocket.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>