{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Смена пароля
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock %}
{% block content %}
    <div class="container col-md-6">
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                    <a href="{% url "Bets:main" %}">
                        <img src="{% static 'img/logo.png' %}" height="64" width="64" class="login-image" alt="CB">
                    </a>
                    <span class="crd-ttl card-title">
                        Смена пароля
                    </span>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group" style="margin-top: 20px">
                            Ваш пароль был успешно изменён!<br>
                            Теперь вы можете <a href="{% url "Registration:login" %}">войти</a>.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}