{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}
    Смена пароля
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock %}
{% block content %}
    <div class="container col-md-6">
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                        <a href="{% url "Bets:main" %}">
                            <img src="{% static 'img/logo.png' %}" height="64" width="64" class="login-image" alt="CB">
                        </a>
                        <span class="crd-ttl card-title">
                            Смена пароля
                        </span>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_new_password1">Новый пароль:</label>
                            <input type="password" name="new_password1" required id="id_new_password1" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_new_password2">Подтверждение нового пароля:</label>
                            <input type="password" name="new_password2" required id="id_new_password2" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <button type="submit" class="btn btn-outline-light col-12">Подтвердить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}