{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Смена пароля
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock %}
{% block content %}
    <div class="container col-md-6">
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                    <a href="{% url "Bets:main" %}">
                        <img src="{% static 'img/logo.png' %}" height="64" width="64" class="login-image" alt="CB">
                    </a>
                    <span class="crd-ttl card-title">
                            Смена пароля
                        </span>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <p style="margin-top: 20px">
                                Мы отправили вам инструкции для смены пароля, если аккаунт с введённым вами почтовым
                                ящиком существует.
                            </p>
                            <p>
                                Если вы не получили письмо, пожалуйста, проверьте что вы ввели тот почтовый ящик, с
                                которым регистрировались,
                                и проверьте, не пришло ли письмо в спам.
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}