{% extends 'base.html' %}
{% load static %}
{% block title %}
Апелляция
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/appeal.css" %}">
{% endblock %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container col-xl-4 col-md-6">
    <div class="login-form">
        <div class="card">
            <div class="card-body">
                    <span class="card-title">
                        Апелляция
                    </span>
                <form enctype="multipart/form-data" method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_reason">Причина:</label>
                        <input type="text" name="reason" maxlength="100" autofocus required
                               id="id_reason" placeholder='Например, "Мой противник не принял бой"'
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="id_comment">Пояснение:</label>
                        <textarea id="id_comment" name="comment" class="form-control" rows="5" cols="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_files">Прикрепить файлы:</label>
                        <input type="file" name="files" id="id_files" class="form-control" multiple>
                    </div>
                    <div class="row">
                        <div class="col-12" style="display: flex">
                            <button type="submit" class="btn btn-outline-light col-5">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}