{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Дуэль
{% endblock %}
{% block css %}
    {% if player.background %}
        <link rel="stylesheet" href="{% static "css/background.css" %}">{% endif %}
    <link rel="stylesheet" href="{% static 'css/duel.css' %}">
{% endblock %}
{% block content %}
    {% if player.background %}
        <canvas id="background"></canvas>{% endif %}
    <div class="content">
        <div class="container col-xl-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="players text-center mb-3">
                        {{ bet.player.CRnickname }}<br>
                        <span class="vs"><span id="V">V</span><span id="S">S</span></span><br>
                        {{ bet.opponent.CRnickname }}
                    </div>
                    На кону: {{ profit }} <i class="fas fa-coins"></i><br>
                    Клан: {{ bet.clan.name }} (#{{ bet.clan.hashtag }})<br>
                    Время на битву: <span id="timer" data-expiration-timestamp="{{ bet.expiration_ongoing_timestamp }}"
                                          data-bet-id="{{ bet.id }}">&ndash;&ndash;:&ndash;&ndash;</span>
                    <div id="info" class="duel-info mt-2" data-checked="{{ checked }}">
                        {% if checked is False %}
                            Опаньки!<br>
                            Один из игроков ввёл некорректные данные.<br>
                            Запущена автоматическая проверка результатов...
                        {% else %}
                            <i class="fas fa-info-circle"></i> У вас есть 15 минут чтобы сыграть бой в указанном клане.<br>
                        Как только бой будет сыгран, наша система автоматически определит победителя.<br>
                        В случае ничьи таймер обновится и у вас будет ещё 15 минут на следующий бой.<br>
                        Если по истечении этого времени по каким либо причинам бой не будет сыгран, вы сможете подать на
                        апелляцию.
                        {% endif %}
                    </div>
                    <div id="result" class="d-none mt-4">
                        <div class="mb-2">
                            Результат боя:
                        </div>
                        <input id="id_win" type="radio" name="result" checked>
                        <label for="id_win">я выиграл</label>
                        <input id="id_lose" type="radio" name="result">
                        <label for="id_lose">я проиграл</label>
                        <input id="id_draw" type="radio" name="result">
                        <label for="id_draw" class="m-0">ничья</label>
                        <button class="btn offset-sm-8" id="send-result">Готово</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/duel.js" %}"></script>
    {% if player.background %}
        <script type="text/javascript" src="{% static "js/background.js" %}"></script>{% endif %}
{% endblock %}