{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Ожидание
{% endblock %}
{% block css %}
    {% if player.background %}<link rel="stylesheet" href="{% static "css/background.css" %}">{% endif %}
    <link rel="stylesheet" href="{% static 'css/waiting.css' %}">
{% endblock %}
{% block content %}
    {% if player.background %}<canvas id="background"></canvas>{% endif %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-4 offset-md-4 anim-container mt-5">
                <div class="searching"><img src="{% static 'img/loopa.png' %}" height="64" width="64" alt="CB"></div>
            </div>
            <div class="col-md-4 offset-md-4 waiting-text text-center">Ищем противника</div>
            <div class="col-lg-2 offset-lg-5 col-sm-8 offset-sm-2 bet-info mt-2 pl-3 py-2 text-center"
                 data-time-left="{{ bet.time_left }}"
                 data-bet-id="{{ bet.id }}">
                <div id="timer">&ndash;&ndash;:&ndash;&ndash;</div><br>
                {{ bet.player.user.username }}<br>
                {{ bet.cost }} <i class="fas fa-coins"></i>
            </div>
        </div>
        <div id="connection" class="connection m-2"></div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/waiting.js' %}"></script>
    {% if player.background %}<script type="text/javascript" src="{% static "js/background.js" %}"></script>{% endif %}
{% endblock %}